* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

image {
  max-width: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

/* -------------------------- */

body {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 25.25%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1rem;
  display: inline-block;
  font-weight: bolder;
  color: #eaeaea;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  background-color: #e67e34;
}
nav ul{
  display: flex;
}

.li-nav:hover{
  color: #e67e34;
  cursor: pointer;
}
.li-nav{
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

  
.fa-shopping-bag, .busca{
  margin-right: 6.25rem;
}

.conta{
  margin-right: 2rem;
}


